.settings__setting {
  padding: 25px 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 50px;
}
.settings__setting:nth-child(4) {
  padding-top: 50px;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
